/* Reset */
/*Box sizing (the nuclear option) */
*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fix font rendering defaults */
html,
button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong,
b,
mark {
  font-weight: bold;
  font-style: inherit;
}

em,
i,
cite,
q,
address,
dfn,
var {
  font-style: italic;
  font-weight: inherit;
}

a,
u,
ins {
  text-decoration: none;
}

pre,
code,
samp,
kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Hisingen */

em {
  color: #ef1a2d;
}

article {
  max-width: 800px;
  margin: 0 auto;
}

#gallery {
  display: flex;
  gap: 1.5vw;
  padding: 1vw;
  overflow-x: auto;
  white-space: nowrap;
  justify-items: center;
  align-items: center;

  -webkit-overflow-scrolling: touch;

  /* Flip scrollbar to top */
  transform: rotateX(180deg);
}

#gallery img {
  /* Flip items back */
  transform: rotateX(180deg);
}

#gallery img {
  flex: 0 0 auto;
  width: auto;
  max-width: 45vw; /* Adjust this value to control the image size */
  max-height: 400px; /* Adjust this value to control the image size */
}

/* Make scrollbar pretty */
#gallery::-webkit-scrollbar {
  height: 8px;
}

#gallery::-webkit-scrollbar-thumb {
  background: #ef1a2d;
  border-radius: 10px;
}

#gallery::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
  height: 5px;
}

/* Make first image in gallery full width */
#gallery img:first-child {
  max-width: 70vw; /* Adjust this value to control the image size */
}
